@model MvcDentista1.Models.Diente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Placa</h1>

<h5>¿Esta seguro que quiere borrar el registro dental ?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente19)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente19)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente20)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente20)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente21)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente21)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente22)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente22)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente23)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente23)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente24)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente24)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente25)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente25)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente26)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente26)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente27)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente27)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente28)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente28)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente29)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente29)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente30)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente30)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente31)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente31)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diente32)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diente32)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger btn-sm" /> |
        <a class="btn btn-secondary" asp-action="Index">Devuelta al Inicio</a>
    </form>
</div>
