@model IEnumerable<MvcDentista1.Models.Diente>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio de Placas</h1>


<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente31)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diente32)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diente32)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>

            </td>
        </tr>

}
    </tbody>
</table>
